<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"></link>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <div class="head-bar">
             <h1>BOOLFLIX</h1>
            <div class="search-bar">
                <input type="text" v-model="textToSearch">
                <button @click="search"> <a href="#"><i class="fa fa-search"></i></a> </button>
            </div>
        </div>

        <div class="movies-container">
            <ul>
                <li v-for="movie in moviesList">
                    <div class="poster">
                        <img width="100":src= "`https://image.tmdb.org/t/p/w500${movie.poster_path}`" alt="">
                        <div class="overlay">
                            <div class="caption">
                                <strong>{{movie.title}}</strong>
                                <p>{{movie.original_title}}</p>
                                <p><span :class="`flag-icon flag-icon-${movie.original_language}`"></span> </p>
                                <p>{{movie.vote_average}}</p>
                            </div>
                        </div>
                    </div>
                   
                </li>
    
            </ul>
        </div>

    </div>

    <script src="script.js"></script>
</body>

</html>