*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    color: grey;
}

.movies-container{
    overflow: auto;
    height: 100vh;
    padding-top: 60px;
    padding-left: 60px;
    background-color: black;
}

.head-bar{
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    padding-left: 40px;
    background-color: black;
}

.head-bar h1 {
    color: darkred;
    margin-top: 5px;
}

.search-bar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 40px;
}

.search-bar input {
    width: 20%;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid darkred;
}

.search-bar button {
    border: none;
    background-color: transparent; 
}

.search-bar a {
    color: darkred;  
}

.search-bar a:hover{
    color: grey;
}

.search-bar i {
    font-size: 18px;
}

ul li {
    width: 15%;
    display: inline-block;
    margin: 30px;
}

.poster{
    display: flex;
    flex-basis: 100%;
    position: relative;
}

.poster img{
    flex-grow: 1;
    align-content: center;
    box-shadow: 0 0 6px grey;
}

.caption{
    display: flex;
    flex-direction: column;
    color: ivory;
}

#original-title{
    font-size: 15px;
    color: lightgrey;
}

.vote{
    margin-top: 5px;
}

.overlay {
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    transition: .3s ease;
    opacity: 0;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.poster:hover .overlay {
    opacity: 1;
}

#flag{
    box-shadow: 0 0 2px grey;
}

#star{
    margin: 2px;
    color: gold;
}

#tv{
    margin-bottom: 10px;
}

.loading-container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    width: 50px;
    height: 50px;
    margin: auto;
    border: 8px solid lightgray;
    border-radius: 50%;
}

.loading{
    position: relative;
    left: -8px;
    top: -8px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: darkred;
    animation: loading 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

@keyframes loading{
    0%{
       transform:rotateZ(0deg);
    }

    100%{
        transform:rotateZ(360deg);
    }    
}

@media all and (max-width: 1260px){
 .overlay{
    font-size: 15px;
 }
}

@media all and (max-width: 1228px){

    #original-title{
        font-size: 12px;
    }
}

@media all and (max-width: 1106px){
    .overlay{
       font-size: 12px;
    }

    
}

@media all and (max-width: 1034px){
    ul li {
        width: 20%;
    }

    .overlay{
        font-size: 15px;
    }

    #original-title{
        font-size: 15px;
    }

    
}

@media all and (max-width: 941px){
 
    .overlay{
        font-size: 15px;
    }

    #original-title{
        font-size: 12px;
    }

    .search-bar input {
        width: 40%;
    }
}

@media all and (max-width: 848px){
 
    .overlay{
        font-size: 12px;
    }

    #original-title{
        font-size: 12px;
    }
}

@media all and (max-width: 794px){
    ul li {
        width: 25%;
    }

    .overlay{
        font-size: 15px;
    }

    #original-title{
        font-size: 15px;
    }
}

@media all and (max-width: 767px){

    .overlay{
        font-size: 15px;
    }

    #original-title{
        font-size: 12px;
    }
}

@media all and (max-width: 692px){

    .overlay{
        font-size: 12px;
    }

    #original-title{
        font-size: 12px;
    }
}

@media all and (max-width: 650px){
    ul li {
        width: 30%;
    }
}

@media all and (max-width: 554px){
    ul li {
        width: 50%;
    }

    .search-bar input {
        width: 60%;
    }
}

@media all and (max-width: 362px){

    .overlay{
        font-size: 10px;
    }

    #original-title{
        font-size: 10px;
    }

    .search-bar input {
        width: 60%;
    }
}


@media all and (max-width: 320px){

    .overlay{
        font-size: 10px;
    }

    #original-title{
        font-size: 8px;
    }

    ul li{
        margin: 15px;
    }
}







