*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif  
}

.head-bar{
    display: flex;
    padding-right: 40px;
    background-color: black;
}

.head-bar h1 {
    color: tomato;
}

.head-bar input {
    width: 20%;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid tomato;
}

.head-bar button {
    border: none;
    background-color: transparent; 
}

.head-bar a {
    color: tomato;  
}

.head-bar i {
    font-size: 18px;
}